<div class="contain">
  <div class="row">
    <div class="col-sm-4">
      <h1>Lists here</h1>
      <form [formGroup]="form" class="form mt-3 mb-5 p-3" (submit)="submit()">
        <div class="form-group">
          <label for="search">Email</label>
          <input formControlName="search" type="text" id="search" class="form-control" name="search" autocomplete="email"
                 placeholder="Enter your email">
        </div>

        <button class="btn btn-lg btn-success btn-block mb-5"> Sign in</button>
      </form>
    </div>
    <div class="col-sm-8">
      <h2>list details here</h2>
    </div>
  </div>
</div>
