<nav class="navbar text-light navbar-expand-lg navbar-light bg-success">
  <div class="container-fluid flex-row-reverse">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-light" routerLink="/">RecipeApp</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/login" *ngIf="!loggedIn">Login</a>
          <a class="nav-link text-light" routerLink="/" *ngIf="loggedIn" (click)="logout()">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
